<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;"><i>POSSESION OF MOBILES IN EXAM IS UFM PRACTICE</i></h1>
    <div style="text-align: left;"><p >Name ________________</p></div>
    <div style="text-align: right;"><p >Enrollment No. ________________</p></div>

    <h3 style="text-align: center;">
        Jaypee Institute Of Information Technology
    </h3>
    <h3 style="text-align: center;">
        Examination 2023
    </h3>

    <h3 style="text-align: center;">
        XYZ Semester
    </h3>

    <h4 style="text-align: left;">
        Course Title
    </h4>
    <h4 style="text-align: left;">
        Course Code
    </h4>

    <br />
    {{questions}}
</body>
</html>